@import '../../../../theme/theme';

.WorkerLayoutContainer {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: GetColorTheme(Main);
}