@import '../../../../../theme/theme';

.WorkerDashboardContainer {

    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: GetColorTheme(Main);
    display: flex;
    flex-flow: row;
    overflow: hidden;

    @include for-size(GetBreakpoint(Phone)){
        flex-flow: column-reverse;
        overflow: auto;
    }

}