@import '../../../../../theme/theme';

.ConfirmationContainer {
    display: flex;
    flex-flow: column;
    // justify-content: space-between;
    .InnerContainer {
        margin: auto;
        display: flex;
        flex-flow: column;
    }
}